<h1>New Author</h1>
<form action="/authors" method="POST">
    <%- include('_form_fields')%>
<a href="/authors">Cancel</a>
<!-- we use a to route button doesnt work -->
<button type="submit">Create</button>
</form>